/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Specify a font family if needed */
  min-height: 100vh; /* Make sure the gradient covers the entire viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
